body{
    font-family: 'Akaya Telivigala', cursive;
    color: #9A0506;
    padding: 0;
    margin: 0;
    background-image: url("img//cookieBackground.png");
    background-size: cover;
    /* background: rgb(224,169,56);
    background: radial-gradient(circle, rgba(224,169,56,0.8575805322128851) 0%, rgba(210,172,89,0.8267682072829132) 43%, rgba(171,179,178,1) 96%); */
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: black;
    color: white;
}

.cookie{
    text-align: center;
    padding-top:45%;
    border-radius:50%;
    box-shadow: 0px 0px 15px 6px #a9a6a6;
    width: 200px;
    height: 200px;
    background-image: url("img/cookie2.png");
    background-size:cover;
    outline: none;
    color: rgb(218, 212, 34);
    font-size: 20px;
}

.display{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    height: 600px;
    border: solid black 1px;
    margin-top: 25px;
}

.shop{
    text-align: center;
    width: 25%;
    border:solid black 1px;
    border-radius: 3%;
    margin: 20px;
    padding: 15px;
    font-size: 30px;
}

.totalCookies{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 40%;
    text-align: center;
    margin-top: 10px;
}

.level1{
    background-image: url("img/level1.0.jpg");
    background-position: center;
}

.price{
    text-align: center;
    margin-top: 3px;
    background-color: cornsilk;
    font-size: 15px;
}


.level2{
    background-image: url("img/level2.0.jpg");
}


.level3{
    background-image: url("img/level3.0.jpg");
}


.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 10px;
    align-items: center;
}

.displayCookie{
    text-align: center;
    width: 25%;
    border:solid black 1px;
    border-radius: 3%;
    margin: 10px;
    padding: 5px;
}

.number{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
}

.result{
    font-size:40px;
    color: #9a0505;
    background-color: cornsilk;
    
}

.bonus{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top:20px;
    align-items: center;
}

.bonusImg{
    background-image: url("img/gifBonus.gif");
    width: 200px;
    height: 200px;
    background-size: cover;
    font-size: 25px;
    color:cornsilk;
    box-shadow: 0px 0px 15px 6px #a9a6a6;
    border-radius: 10%;
    margin-bottom: 15px;
}

.bonusImg2{
    background-image: url("img/gifBonus2.gif");
    width: 200px;
    height: 200px;
    background-size: cover;
    font-size: 25px;
    color:cornsilk;
    box-shadow: 0px 0px 15px 6px #a9a6a6;
    border-radius: 10%;
}